<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <connectionStrings>
    <add name="JTorresProgramacionNCapas18082021"
      connectionString="Data Source=.;Initial Catalog=JTorresProgramacionNCapas18082021;Persist Security Info=True;User ID=sa;Password=pass@word1"
      providerName="System.Data.SqlClient"/>
    <add name="JTorresProgramacionNCapas18082021Entities" connectionString="metadata=res://*/JTorresProgramacionNCapas18082021.csdl|res://*/JTorresProgramacionNCapas18082021.ssdl|res://*/JTorresProgramacionNCapas18082021.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=JTorresProgramacionNCapas18082021;persist security info=True;user id=sa;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IServiceMateria" />
        <binding name="CalculatorSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13379/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService1" contract="ServiceReferenceTest.IService1"
        name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:10465/ServiceMateria.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceMateria"
        contract="ServiceReferenceMateria.IServiceMateria" name="BasicHttpBinding_IServiceMateria" />
      <endpoint address="http://www.dneonline.com/calculator.asmx"
        binding="basicHttpBinding" bindingConfiguration="CalculatorSoap"
        contract="ServiceCalculator.CalculatorSoap" name="CalculatorSoap" />
    </client>
  </system.serviceModel>
</configuration>